
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/LogStyle.css">
    <style>
        body{
            padding:0 !important;
            margin: 0 !important;
        }

    </style>
</head>
<body>


    <div class="main">



            <div class="container">

                    <img style=" margin-bottom: 50px ;height: 100px;
        width: 100px;
        display: block;
        margin-left: 300px;" src="assets/img/gal1.png" >

                <div class="signup-content">
                    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                        <h2 class="form-title">Veuillez saisir les informations suivantes</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" formControlName="firstname"  placeholder="Nom" required/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-input" formControlName="lastname"  placeholder="Prénom" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" formControlName="age"  placeholder="Âge" required/>
                        </div>
                        <!--<div class="form-group">
                            <input type="text" class="form-input" formControlName="civility"  placeholder="civilité" required/>
                        </div>-->
                        <div class="form-group">
                            <input type="email" class="form-input" formControlName="email" placeholder="Email" required/>
                        </div>

                       <!-- <div class=“dropdown” style="width: 465px;" aria-labelledby=“dropdownMenuButton”>
                            <label for="name">Sexe</label>
                            <angular2-multiselect [data]="dropdownList0" [(ngModel)]="selectedItems0"
                                                  [settings]="dropdownSettings0" formControlName="sexe"></angular2-multiselect>
                        </div>-->

                        <div class=“dropdown” style="   width: 480px;" aria-labelledby=“dropdownMenuButton”>
                            <label for="name">Sexe</label>
                            <select class=“dropdown” style="width: 480px;height:35px;" formControlName="sexe">
                                <option value="femme"> Femme </option>
                                <option value="homme"> Homme </option>
                            </select>
                        </div>
                        <br/> <br/>

                        <div class="form-group">
                            <input type="text" class="form-input" formControlName="city"  placeholder="Ville" required/>
                        </div>

                        <div class="form-group">
                            <input type="checkbox" style="border: black"  formControlName="city"  />
                        </div>


                        <div class=“dropdown” style="width: 480px;" aria-labelledby=“dropdownMenuButton”>
                            <label for="name">Niveau d'étude</label>
                            <angular2-multiselect [data]="dropdownList1" [(ngModel)]="selectedItems1"
                                                  [settings]="dropdownSettings1" formControlName="id_clazz"></angular2-multiselect>
                        </div>



                        <br/>


                            <div class=“dropdown” style="width: 480px;" aria-labelledby=“dropdownMenuButton”>
                                <label for="name">École</label>
                                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                                                      [settings]="dropdownSettings"
                                                      formControlName="id_school"></angular2-multiselect>
                            </div>


                            <br/>





                          <!--  <div class="form-group">
                                <input type="text" class="form-input" formControlName="study_level"  placeholder="Niveau d'Etude" required/>
                            </div>-->


                        <!--<div class="form-group">
                            <input type="text" class="form-input" formControlName="pseudo"  placeholder="Pseudo" required/>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-input" formControlName="password"  placeholder="Mot de passe" required/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>-->
                        <div class="form-group">
                            <input style="display: inline-block" type='checkbox' formControlName="checked" value='valuable' id="thing"/> <p style="display: inline">En soumettant ce formulaire, j'accepte que les informations saisies soient
                            exploitées dans le cadre du passage du test ainsi que dans l'exploitation de données à
                            des fins statistiques. <a href="https://www.google.com/" target="_blank">En savoir plus</a>
                        </p>
                            <ng-container *ngIf="submitted && formValidate.checked.errors">
                                <p class="text-danger" style="color: darkred">
                                    merci d'accepter les condition
                                </p>
                            </ng-container>

                        </div>

                        <div class="form-group">
                            <button type="submit"  id="submit" class="form-submit" >VALIDER</button>
                        </div>
                    </form>
                    <!--<p class="loginhere">
                        Vous avez un compte ? <a routerLink="/login" class="loginhere-link">Se connecter</a>
                    </p>-->
                </div>
            </div>


    </div>

    <!-- JS -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        var password = document.getElementById("password")
        , confirm_password = document.getElementById("re_password");

        function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Le mot de passe ne correspond pas");
        } else {
            confirm_password.setCustomValidity('');
        }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
<style>
    input[type=checkbox] {
        display:none;
    }
    input[type=checkbox] + label
    {
        background: #999;
        height: 16px;
        width: 16px;
        display:inline-block;
        padding: 0 0 0 0px;
    }
    input[type=checkbox]:checked + label
    {
        background: #0080FF;
        text-decoration: line-through;
        height: 16px;
        width: 16px;
        display:inline-block;
        padding: 0 0 0 0px;
    }


    label p {
        display: inline block;
    }

</style>

</body>
</html>

