

<nb-card style="height:80%" >
  <nb-card-header >
    {{ 'TEST.AFFECTCATE.AssignCriterion' | translate }}
    <ul style="position: relative; float: right">

      <i style="cursor: pointer; position: relative; float: right ;color: darkgreen"  (click)="getTestCriterion()"> {{ 'TEST.AFFECTSOUS.order' | translate }} </i>
    </ul>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm" id="addForm" name="addForm" (ngSubmit)=" affecter()">
      <div class="form-group">
        <label  for="name">{{ 'TEST.AFFECTCATE.criterion' | translate }}</label>
        <angular2-multiselect [data]="dropdownList"
                              [(ngModel)]="selectedItems"
                              (onSelect)="onItemSelect($event)"
                              [settings]="settings"
                              (onDeSelect)="OnItemDeSelect($event)"
                              formControlName="criterions"

          ></angular2-multiselect>

      </div>



    </form>

  </nb-card-body>
</nb-card>
