

<nb-card>
  <nb-card-header>
    Liste des Classes


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  </nb-card-header>


  <nb-card-body>
    <i style="cursor: pointer;" class="fas fa-plus fa-2x" (click)="create()"> ajouter </i>
    <table id="example2" class="my-3 table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" style="text-align: center">
      <thead>
      <tr role="row">
        <!--<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id: activate to sort column descending">ID</th>-->
       <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="name: activate to sort column ascending">Nom</th>
       <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="id_school: activate to sort column ascending">Nom de l'école</th>
       <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="action: activate to sort column ascending">Action</th>

         </thead>
     <tbody>
     <tr *ngFor="let clas of classes | paginate: { itemsPerPage: 7, currentPage: pageActuel }">
       <!-- <td>{{clas.id}}</td>-->
       <td>{{clas.name}}</td>
       <td>{{clas.school}}</td>

       <td>
         <i style="cursor: pointer; color: #69737f; display: inline-block;margin-right: 20px !important;" class="fas fa-trash fa-1x" (click)="deleteByid(clas)"></i>
         <i class="fa fa-edit fa-1x" style="color: #298a66; cursor: pointer;" (click)="updateClass(clas)"></i>
       </td>


     </tr>
     </tbody>
   </table>
   <pagination-controls
     (pageChange)="pageActuel = $event"
     previousLabel="Précédent"
     nextLabel="Suivant"
   ></pagination-controls>

 </nb-card-body>
</nb-card>
