

<nb-card>
  <nb-card-header>
    {{ editMode ? 'Update': 'Ajouter'}} class
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <input type="text" class="form-control" formControlName="name" placeholder="Nom du sous categorie">
        <ng-container *ngIf="submitted && formvalidate.name.errors">
          <p class="text-danger" >
            name est obligatoire !
          </p>
        </ng-container>
      </div>


      <button type="submit" class="btn btn-success">{{editMode ? 'Update':'Ajouter'}}</button>
    </form>

  </nb-card-body>
</nb-card>
