<div style="width:80%" class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter" style="width:100%">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>

    <input style=" width: 50px; position: relative;float: right;margin: auto" (click)="goToHome()" type="image" id="logo" src="/assets/images/galatee.ico">
  </div>
</div>

<div class="header-container">

  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">

    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user  [name]="user?.name" ></nb-user>
    </nb-action>
    <nb-action style="display:block !important;margin-right:10px;height: 35px;" class="control-item" (click)="logout()" title="log out" icon="ion-log-out"></nb-action>


  </nb-actions>
</div>
