<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>

    <input (click)="goToHome()" type="image" src="/assets/images/apple-icon-57x57.png">
  </div>
</div>

<div class="header-container">

  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">

    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user  [name]="user?.name" ></nb-user>
    </nb-action>
    <nb-action class="control-item" disabled icon="ion-log-out"></nb-action>

    <nb-action class="control-item">

    </nb-action>
  </nb-actions>
</div>
