
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/LogStyle.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <img style=" height: 100px;
                            width: 100px;
                            display: block;
                            margin: auto;
    padding-bottom: 40px;" src="assets/img/gal1.png" >
                <div class="signup-content">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" id="signup-form" class="signup-form">
                        <h2 class="form-title">Enter le mot de passe du test</h2>
                        <div class="form-group">
                                <input  [formControl]="password"  [(ngModel)]="loginTest.password" type="password" class="form-input" name="password" id="password" placeholder="Mot de passe"/>
                                <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>                        </div>  

                        <div class="form-group">
                                <button  name="submit" id="submit" class="form-submit" value="Sign in" type="submit" >se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
