

<nb-card>



  <nb-card-header>


    <form [formGroup]="findForm" (ngSubmit)="doSearch()" >
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <label > {{ 'HOME.DATED' | translate }}</label>
        <input _ngcontent-c69=""   formControlName="debut" type ="date"placeholder="Debut" class="form-control" >

      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <label >{{ 'HOME.DATEF' | translate }}</label>
        <input _ngcontent-c69=""   formControlName="fin" type ="date"placeholder="Form Picker" class="form-control" >

      </div>
      <div class="col-xs-12 col-12 col-sm-6 col-md-2 form-group">
        <label >{{ 'HOME.ageMax' | translate }}</label>
        <input type="number" class="form-control" formControlName="age1" placeholder="Age maximum">

      </div>
      <div class="col-xs-12 col-12 col-sm-6 col-md-2 form-group">
        <label >{{ 'HOME.agemin' | translate }}</label>
        <input type="number" class="form-control" formControlName="age2" placeholder="Age minimum">

      </div>
      <div class="col-xs-12 col-12 col-sm-4 col-md-2 col-lg-4 form-group">

        <button  type="submit" class="btn btn-success" >{{ 'HOME.recherch' | translate }}</button>
        <label *ngIf="findForm.errors">{{ findForm.errors?.dates | json }}</label>
      </div>

    </div>
    </form>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </nb-card-header>


<ng-template [ngIf]="affiche">
  <nb-card-body>



    <table id="example2" class="my-3 table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info" style="text-align: center">
      <thead>
      <tr role="row">

        <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="firstname: activate to sort column ascending">{{ 'HOME.nom' | translate }}</th>
        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="lastname: activate to sort column ascending">{{ 'HOME.prenom' | translate }}</th>
        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="name: activate to sort column descending">{{ 'HOME.nomtest' | translate }}</th>
        <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="date_test: activate to sort column ascending">{{ 'HOME.datetest' | translate }}</th>
        <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="clazz: activate to sort column ascending">{{ 'HOME.ecole' | translate }}</th>
        <th  class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="clazz: activate to sort column ascending">{{ 'HOME.classe' | translate }}</th>


      </thead>
      <tbody>
      <tr  *ngFor="let filter of filters | paginate: { itemsPerPage: 7, currentPage: pageActuel }">

        <td>{{filter.firstname}}</td>
        <td>{{filter.lastname}}</td>
        <td>{{filter.name}}</td>
        <td>{{filter.date_test | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
        <td>{{filter.school}}</td>
        <td>{{filter.class}}</td>




     </tr>
      <pagination-controls
        (pageChange)="pageActuel = $event"
        previousLabel="Précédent"
        nextLabel="Suivant"
      ></pagination-controls>
      </tbody>
    </table>


  </nb-card-body>
</ng-template>
</nb-card>
<style>
  i {
    margin : 20px 0;
  }
  .fas{
    margin: 10px 0;
  }

</style>
