

<nb-card>
  <nb-card-header>
    {{ editMode ? 'Modifier' : 'Ajouter' }} ecole
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <input type="text" class="form-control" formControlName="name" placeholder="nom d 'ecole">
        <ng-container *ngIf="submitted && formValidate.name.errors">
          <p class="text-danger" >
            prenom est obligatoire !
          </p>
        </ng-container>
      </div>


      <button type="submit" class="btn btn-success">{{ editMode ? 'Modifier' : 'Ajouter' }}</button>
    </form>

  </nb-card-body>
</nb-card>
