

<nb-card>
  <nb-card-header>
    {{ editMode ? 'Modifier' : 'Ajouter' }} Sous test
    <ul style="position: relative; float: right">
      <i style="cursor: pointer; position: relative; float: right ; color: darkgreen"  (click)="consulterCategorie()"> Consulter Categories </i><br>
      <i style="cursor: pointer; position: relative; float: right ;color: darkgreen"  (click)="consultezSubCategorie()"> Consulter SubCategories </i>
    </ul>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm"(ngSubmit)="onSubmit()" >
      <div class="form-group">
        <input type="text" class="form-control" formControlName="name" placeholder="Name">
      </div>

      <div class="form-group">
        <label type="text">date d activation:</label>
        <input type="date" class="form-control" data-date-format="yyyy/MM/dd h:mm:ss" formControlName="activation_date" placeholder="date d'activation">
      </div>


      <div class="form-group">
        <label type="text" >date expiration:</label>
        <input type="date"  class="form-control" formControlName="expiration_date" placeholder="date expiration">
      </div>

      <div class="form-group">
        <label type="text" >date expiration:</label>
        <input type="number" class="form-control" formControlName="test_subcategories_number" placeholder="nombre de sousCategorie">
      </div>

      <div class="form-group">
        <label type="text" >date expiration:</label>
        <input type="number" class="form-control" formControlName="duration" placeholder="duree de test">
      </div>



      <div class="form-group">
        <input type="text" class="form-control" placeholder="password" formControlName="password">
      </div>





      <button type="submit" class="btn btn-success">{{ editMode ? 'Modifier' : 'Ajouter' }}</button>
    </form>
  </nb-card-body>
</nb-card>
