<nb-card>
  <nb-card-header>
    {{ editMode ? 'Modifier' : 'Ajouter' }}  Test
    <ng-template [ngIf]="editMode">
      <ul style="position: relative; float: right">
        <i style="cursor: pointer; position: relative; float: right ; color: darkgreen"  (click)="consulterCategorie()"> Consulter Categories </i><br>
        <i style="cursor: pointer; position: relative; float: right ;color: darkgreen"  (click)="consultezSubCategorie()"> Consulter Sous Categories </i>
      </ul>
    </ng-template>

  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm"(ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label type="text">Nom:</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nom">
      </div>

      <div class="form-group">
        <label type="text">Date d'activation:</label>
        <input
          class="form-control"
          #dpMDY="bsDatepicker"
          bsDatepicker
          formControlName="activation_date"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD, hh:mm:ss '}">

      </div>


      <div class="form-group">
        <label type="text" >Date expiration:</label>
        <input
          class="form-control"
          #dpMDY="bsDatepicker"
          bsDatepicker


          formControlName="expiration_date"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD, hh:mm:ss ' }">


      </div>

      <ng-container *ngIf="submitted && addForm.errors">
        <p class="text-danger" >
          {{ addForm.errors?.dates | json }}
        </p>
      </ng-container>


      <div class="form-group">
        <label type="text" >Nombre de sous categories:</label>
        <input type="number" class="form-control" formControlName="test_subcategories_number" placeholder="Nombre de sousCategories">
      </div>

      <div class="form-group">
        <label type="text" >Durée du test:</label>
        <input type="number" class="form-control" formControlName="duration" placeholder="Durée du test">
      </div>



      <div class="form-group">
        <label type="text" >Mot de passe:</label>
        <input type="text" class="form-control" placeholder="Mot de passe" formControlName="password">
      </div>





      <button type="submit" class="btn btn-success">{{ editMode ? 'Modifier' : 'Ajouter' }}</button>
    </form>
  </nb-card-body>
</nb-card>
