

<nb-card>
  <nb-card-header >
    {{ editMode ? 'Modifier': 'Ajouter' }} {{ 'SOUSCATEGORIE.CREATE.Nom' | translate }}
    <ul style="position: relative; float: right">
      <i style="cursor: pointer; position: relative; float: right ; color: darkgreen"  (click)="create()"> {{ 'SOUSCATEGORIE.CREATE.creation' | translate }} </i>
    </ul>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label  for="name">{{ 'SOUSCATEGORIE.CREATE.categorie' | translate }}</label>
        <angular2-multiselect [data]="dropdownList"
                              [(ngModel)]="selectedItems"
                              [settings]="dropdownSettings"
                              formControlName="id_category"></angular2-multiselect>
      </div>

      <div  class="form-group">
        <label   for="fnText">{{ 'SOUSCATEGORIE.CREATE.NomSousC' | translate }}</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nom du sous categories">
        <ng-container *ngIf="submitted && formvalidate.name.errors">
          <p   class="text-danger" >
            {{ 'SOUSCATEGORIE.CREATE.AalertNom' | translate }}
          </p>
        </ng-container>
      </div>

      <div  class="form-group">
        <label  for="fnText">{{ 'QUESTION.CREATE.order' | translate }}</label>
        <input  class="form-control" type="number" formControlName="ordre">
      </div>

      <!-- <div class="form-group">
        <label  for="name">{{ 'TEST.AFFECTSOUS.Categorie' | translate }}</label>
        <angular2-multiselect [data]="dropdownList1"
                              [(ngModel)]="selectedItems1"
                              (onSelect)="onItemSelect($event)"
                              [settings]="dropdownSettings1"
                              (onDeSelect)="OnItemDeSelect($event)"
                              formControlName="id_subcategories"

          ></angular2-multiselect>

      </div>-->
      <br/> <br/> <br/> <br/>

      <button   type="submit" class="btn btn-success">{{ editMode ? 'Update' : 'Ajouter' }}</button>
    </form>

  </nb-card-body>
</nb-card>
