

<nb-card>
  <nb-card-header >
    {{ editMode ? 'Modifier': 'Ajouter' }} {{ 'CRITERION.criterion' | translate }}
    
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div  class="form-group">
        <label   for="fnText">{{ 'CRITERION.CREATE.name' | translate }}</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nom du sous categories">
        <ng-container *ngIf="submitted && formvalidate.name.errors">
          <p   class="text-danger" >
            {{ 'SOUSCATEGORIE.CREATE.AalertNom' | translate }}
          </p>
        </ng-container>
      </div>
      <br/> <br/> <br/> <br/>

      <button   type="submit" class="btn btn-success">{{ editMode ? 'Update' : 'Ajouter' }}</button>
    </form>

  </nb-card-body>
</nb-card>
