

<nb-card style="height:80%" >
  <nb-card-header>
    affecter categorie
  </nb-card-header>

  <nb-card-body >
    <form [formGroup]="addForm" id="addForm" name="addForm" (ngSubmit)=" affecter()">
      <div class="form-group">
        <label for="name">Categorie</label>
        <angular2-multiselect  [data]="dropdownList"
                              [(ngModel)]="selectedItems"
                              [settings]="settings"
                              formControlName="categories"
        ></angular2-multiselect>

      </div>



      <button type="submit" class="btn btn-success">ajouter</button>
    </form>

  </nb-card-body>

</nb-card>
