

<nb-card>
  <nb-card-header>
    affecter categorie
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm" >
      <div class="form-group">
        <label for="name">Categorie</label>
        <angular2-multiselect [data]="dropdownList"
                              [(ngModel)]="selectedItems"
                              [settings]="settings"
                              formControlName="scat"

          ></angular2-multiselect>

      </div>
      <div class="form-group">
        <input type="text" formControlName="name"  class="form-control" placeholder="Name" disabled>
      </div>
      <div class="form-group">

        <label type="text">date d activation:</label>
        <input type="date" class="form-control" formControlName="dateActivation"  placeholder="date d'activation" disabled>
      </div>


      <div class="form-group">
        <label type="text" >date expiration:</label>
        <input type="date" class="form-control" formControlName="dateExpiration" placeholder="date expiration" disabled>
      </div>





      <button type="submit" class="btn btn-success">ajouter</button>
    </form>

  </nb-card-body>
</nb-card>
