
.mat-radio-group {
    display: flex;
    flex-flow: column nowrap;
    .phone-option {
      padding-bottom: 1.25em;
      padding: .4375em 0;
      border-top: .84375em solid transparent;
    }
  }
  
  