

<nb-card>
  <nb-card-header >
    {{ 'QUESTION.CREATE.create' | translate }}
    <p style="cursor: pointer; position: relative; float: right ; color: #888888" >{{ 'QUESTION.CREATE.nom' | translate }} {{name_test}}</p>


  </nb-card-header>

  <nb-card-body>
    <form action="" style="width:100%;" [formGroup]="addForm">


      <div class="row">
        <div class="col-6">
          <div class="form-group" >
            <label  for="fnText">{{ 'QUESTION.CREATE.valeur' | translate }}</label>
            <input type="number" formControlName="value" >
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" >
            <label  for="fnText">{{ 'QUESTION.CREATE.order' | translate }}</label>
            <input type="number" formControlName="ordre" >
          </div>
        </div>


      </div>


      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>


      <div class="row" formArrayName="answers">
        <div class="col-12" *ngFor="let group of reponseArray.controls; let i = index;" [formGroupName]="i" >
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-8">
                  <h4 >{{ 'QUESTION.CREATE.reponse' | translate }} {{i+1}}</h4>
                </div>
                <div class="col-4 control-buttons">
                  <i style="cursor: pointer; position: relative; float: right ; color: darkgreen"  (click)="addReponse()" [hidden]="valid" > + </i><br>
                  <i style="cursor: pointer; position: relative; float: right ;color: darkred"  (click)="removeReponse(i)" [hidden]="!valid1"> - </i>
                </div>
              </div>
              <hr>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label  for="value">{{ 'QUESTION.CREATE.valeur' | translate }}</label>
                    <input type="number" formControlName="value" >
                  </div>
                </div>
                <div class="col">
                  <div class="col">
                    <div class="form-group">
                      <label for="nom" >{{ 'QUESTION.CREATE.nom' | translate }}</label>
                      <input type="text" formControlName="name" >
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label  for="order">{{ 'QUESTION.CREATE.order' | translate }}</label>
                    <input type="number" formControlName="ordre" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-2">
        <button  type="button" [disabled]="!create" (click)="onCreate()" class="btn btn-primary">{{ 'QUESTION.CREATE.submit' | translate }}</button>

        </div>
      </div>

    </form>
  </nb-card-body>
</nb-card>
