

<nb-card>
  <nb-card-header>
    creation du  question
    <p style="cursor: pointer; position: relative; float: right ; color: #888888" >nom du test:{{name_test}}</p>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="addForm" (ngSubmit)="onCreate()">



     <div class="row full-name-input">
       <div class="col-3 input-group my-2">
         <input formControlName="valeur" type="number" nbInput fullWidth placeholder="valeur" min="1">
       </div>
     </div>
      <label>la premiere reponse</label>
    <div class="row full-name-inputs my-2">
        <div class="col-sm-4 input-group">
          <input type="number" formControlName="valeur"  nbInput fullWidth placeholder="valeur" min="1" max="2">
          <ng-container *ngIf="submitted && f.valeur.errors">
            <p class="text-danger" >
              nom est obligatoire !
            </p>
          </ng-container>
        </div>
        <div class="col-sm-4 input-group">
          <input type="text" formControlName="name"  nbInput fullWidth placeholder="nom" min="1" max="2">
          <ng-container *ngIf="submitted && f.name.errors">
            <p class="text-danger" >
              prenom est obligatoire !
            </p>
          </ng-container>
        </div>
        <div class="col-sm-4 input-group">
          <input type="number" formControlName="ordre"  nbInput fullWidth placeholder="ordre" min="1" max="2">
          <ng-container *ngIf="submitted && f.ordre.errors">
            <p class="text-danger" >
              prenom est obligatoire !
            </p>
          </ng-container>
        </div>
      </div>

      <label>la deuxieme reponse</label>
      <div class="row full-name-inputs my-2">
        <div class="col-sm-4 input-group">
          <input type="number" formControlName="valeur"  nbInput fullWidth placeholder="valeur">
          <ng-container *ngIf="submitted && f.valeur.errors">
            <p class="text-danger" >
              nom est obligatoire !
            </p>
          </ng-container>
        </div>
        <div class="col-sm-4 input-group">
          <input type="text" formControlName="name"  nbInput fullWidth placeholder="nom">
          <ng-container *ngIf="submitted && f.name.errors">
            <p class="text-danger" >
              prenom est obligatoire !
            </p>
          </ng-container>
        </div>
        <div class="col-sm-4 input-group">
          <input type="number" formControlName="ordre"  nbInput fullWidth placeholder="ordre">
          <ng-container *ngIf="submitted && f.ordre.errors">
            <p class="text-danger" >
              prenom est obligatoire !
            </p>
          </ng-container>
        </div>
      </div>




      <button type="submit" class="btn btn-success">ajouter</button>
    </form>

  </nb-card-body>
</nb-card>
